#container {
	display: grid;
	grid-gap: 0px;
	padding: 50px;
	position: fixed;
	top: 60px;
	height: 800px;
	width: 800px;

}
#container div {
	height: 1fr;
	width: 1fr;
	border: 1px solid #D3D3D3;
}
h3 {
	margin:1px;
	font-family: Roboto;
}
.input {
	height: auto;
	position: fixed;
	width: 100%;
	margin: 0px;
	padding: 5px;
	background-color: #acff33;
	border-radius: 5px;

} 
